<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
 <center><h1>Results</h1></center>
 <center><h3>Pie Chart</h3><img src="{{ image }}"  height="600px" width="700px"></center>
 <center><h3>Top Tweets based on Volume</h3><img src="{{ image2 }}"  height="600px" width="700px"></center>
 <center><h3>Volume of ECONOMIC Tweets</h3><img src="{{ image3 }}"  height="600px" width="700px"></center>
 <center><h3>Volume of SOCIAL Tweets</h3><img src="{{ image4 }}"  height="600px" width="700px"></center>
 <center><h3>Volume of CULTURE Tweets</h3><img src="{{ image5 }}"  height="600px" width="700px"></center>
 <center><h3>Volume of HEALTH Tweets</h3><img src="{{ image6 }}"  height="600px" width="700px"></center>
 <center><h3>Economic Distribution Plot</h3><img src="{{ image7 }}"  height="600px" width="700px"></center>
 <center><h3>Social Distribution Plot</h3><img src="{{ image8 }}"  height="600px" width="700px"></center>
 <center><h3>Culture Distribution Plot</h3><img src="{{ image9 }}"  height="600px" width="700px"></center>
 <center><h3>Health Distribution Plot</h3><img src="{{ image10 }}"  height="600px" width="700px"></center>
 <center><h3>Clusters by PCA</h3><img src="{{ image11 }}"  height="600px" width="700px"></center>
 <center><h3>Weekday time Analysis</h3><img src="{{ image12 }}"  height="600px" width="700px"></center>
 <h1><a href="/">Home</a></h1>

</body>
</html>